{% extends 'itinerarioPirandelliano/common.html' %}
{% load i18n %}<!-- viene messo dove abbiamo frasi da tradurre, {% trans "frase da tradurre" %}-->

{% block title %}ItinerarioPirandelliano{% endblock %}

{% block content %}
<input type="hidden" name="pagina" id="pagina" value="home">

<div style="min-height: auto">

  <div class="row text-center" id="sottoBarra">
    <div class="col">
      <div class="page-section clearfix">
        <div class="container">
            <div class="intro">
              
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner intro-img" style="width: 67%;">
                  <div class="carousel-item active">
                    <img src="../../../media/Agrigento.jpeg" class="d-block w-100" alt="...">
                  </div>
              </div>
      
                <div class="text-center intro-text p-5 rounded bg-faded ag">
                    <h2 class="section-heading mb-4" style="color: #baa93f;">Benvenuti</h2>
                    <p class="mb-3 introduzione" >
                    {%trans "introduzione"%} </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>


 <div class="container" style="padding-bottom: 4%;">
  <div class="row" style="margin-top: 10%;">
    <div class="col-mb-6 col-lg-4">
      <div class="card card-home" style="margin-left: 12%; ">
        <img src="../../../media/SanGerlando1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cattedrale - Palazzo Vescovile</h5>
          <p class="card-text">{%trans "Card Cattedrale"%}</p>
          <a href="{%url 'Cattedrale'%}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-mb-6 col-lg-4">
      <div class="card card-home" style="margin-left: 12%;">
        <img src="../../../media/foto2.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Piano san Gerlando - Arco Spoto</h5>
          <p class="card-text">{%trans "Card San Gerlando"%}</p>
          <a href="{%url 'PianoSanGerlando'%}" class="btn btn-primary" >Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-mb-6 col-lg-4">
      <div class="card card-home" style="margin-left: 12%;">
        <img src="../../../media/Chiesa-Immacolata.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Basilica dell'Immacolata</h5>
          <p class="card-text">{%trans "Card Basilica"%}</p>
          <a href="{%url 'Basilica'%}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5%;">
    <div class="col-mb-6 col-lg-4">
      <div class="card card-home" style="margin-left: 10%;">
        <img src="../../../media/CasaPirandello3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Via Pirandello - Casa Pirandello</h5>
          <p class="card-text">{%trans "Card Pirandello"%}</p>
          <a href="{%url 'Pirandello'%}" class="btn btn-primary" >Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-mb-6 col-lg-4">
      <div class="card card-home" style="margin-left: 10%;">
        <img src="../../../media/VialeDellaVittoria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Viale della Vittoria</h5>
          <p class="card-text">{%trans "Card Viale"%}</p>
          <a href="{%url 'VialeVittoria'%}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-mb-6 col-lg-4">
      <div class="card card-home" style="margin-left: 10%;">
        <img src="../../../media/CasaGranella.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Casa Ravanusella</h5>
          <p class="card-text">{%trans "Card Ravanusella"%}</p>
          <a href="{%url 'Bibbirria'%}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
 </div>
  </div>




<script>
  function changeBackgroundImage(){
      // Ottieni il body
      var body = document.body;

      // Nuovo URL dell'immagine di sfondo
      var newBackgroundImageURL = 'url("../../../media/agrigento.jpg")';

      // Imposta la nuova immagine di sfondo
      body.style.backgroundImage = newBackgroundImageURL;
      body.style.backgroundSize = "cover";        // Adatta l'immagine all'intera schermata
      body.style.backgroundRepeat = "no-repeat";  // Evita la ripetizione dell'immagine
      body.style.backgroundPosition = "center";   // Centra l'immagine
      body.style.backgroundAttachment = "fixed";  // L'immagine resta fissa durante lo scrolling
    }

    document.addEventListener("DOMContentLoaded", changeBackgroundImage)
  
</script>



{% endblock %}
