{% extends 'itinerarioPirandelliano/common.html' %}
{% load i18n %}<!-- viene messo dove abbiamo frasi da tradurre, {% trans "frase da tradurre" %}-->

{% block title %}ciao{% endblock %}

{% block content %}
<input type="hidden" name="pagina" id="pagina" value="home">


<section>

  <div id="sottoBarra">
    <div id="immaginiHome" class="carousel slide" data-bs-ride="carousel"  >
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#immaginiHome" data-bs-slide-to="0" class="active" aria-current="true" ></button>
            <button type="button" data-bs-target="#immaginiHome" data-bs-slide-to="1" ></button>
            <button type="button" data-bs-target="#immaginiHome" data-bs-slide-to="2" ></button>
          </div>
        <div class="carousel-inner" style="max-height: 100vh;">
          <div class="carousel-item active">
            <img src="../../../media/foto1.JPG" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../media/foto2.JPG" class="d-block w-100 img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../media/foto3.JPG" class="d-block w-100 img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#immaginiHome" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#immaginiHome" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div> 
  </div>
</section>
<section style="margin-top: 30px;">
  <div>

    <div class="row text-center">
        <h1>Titolo</h1>
    </div>
  
    
  </div>
</section>
    
</div>





{% endblock %}