{% load i18n %}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown"  aria-expanded="false">
        {% get_current_language as current_language %}
        
        {{ current_language }}
    </button>
    <div class="dropdown-menu" aria-labelledby="languageDropdown">
        {% get_current_language as current_language %}
        {% get_available_languages as available_languages %}
        {% for lang_code, lang_name in available_languages %}
            
            
                <a class="dropdown-item" href="{% url 'set_language' %}?language={{ lang_code }}&next={{ request.path }}">{{ lang_name }}</a>
            
        {% endfor %}
    </div>
</div>
